@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

body { background-color: #fff; padding: 20px; }

#myQuiz {
    font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400;
    width: 650px;
    height: 650px;
    position: relative;
    overflow: hidden;
    color: #FFF;
    background: #000 url(../images/background.jpg) no-repeat 0 0;

    h1, h2, h3 {
        margin: 0;
        font-weight: 100;
    }

    h2 {
        font-size: 3em;
    }
    
    h3 {
        font-size: 2.4em;
    }

    p {
        margin: 0 0 14px 0;
    }

    .btn {
        display: inline-block;
        cursor: pointer;
        background-color: #c04b01;
        color: #FFF;
        text-decoration: none;
        padding: 5px 15px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .intro {
        position: absolute;
        top: 225px;
        left: 660px;
        width: 550px;

        p {
            margin: 0 0 40px;
        }
    }

    .question {
        width: 550px;
        position: absolute;
        top: 225px;
        left: 660px;

        .txt {
            font-size: 1.6em;
            margin: 0 0 20px;
        }

        .ans {
            display: inline-block;
            font-size: 1.1em;
            width: 225px;
            border: 2px solid rgba(238,189,102,.4);
            border-radius: 6px;
            padding: 10px;
            margin: 0 15px 15px 0;
            position: relative;
            text-align: center;

            &.selected {
                border-color: #be4b15;

                &::after {
                    background-image: url(../images/icon_incorrect.svg);
                }
            }

            &.correct {
                border-color: #459a2e;

                &::after {
                    background-image: url(../images/icon_correct.svg);
                }
            }

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: no-repeat 0 0;
                background-size: 20px 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }

        &.unanswered .ans {
            cursor: pointer;

            &:hover {
                background-color: rgba(238,189,102,0.2);
            }
        }

        &.answered {
            .ans {
                cursor: default;
            }

           .feedback {
               visibility: visible;
               opacity: 1;
               margin-top: 10px;
           }
        }
    }

    .feedback {
        color: #efbe5e;
        margin-top: 10px;
        -webkit-transition: opacity 1.5s, margin-top 1.5s;
        -moz-transition: opacity 1.5s, margin-top 1.5s;
        -o-transition: opacity 1.5s, margin-top 1.5s;
        transition: opacity 1.5s, margin-top 1.5s;
        visibility: hidden;
        opacity: 0;

        .btn {
            margin-top: 5px;
        }

        strong {
            color: #FFF;
        }
    }
}


